awsebcli==3.20.2
backports.entry-points-selectable==1.1.0
botocore==1.21.44
cement==2.8.2
certifi==2021.5.30
charset-normalizer==2.0.6
colorama==0.4.3
distlib==0.3.3
et-xmlfile==1.1.0
filelock==3.3.1
future==0.16.0
idna==3.2
importlib-metadata==4.8.1
jmespath==0.10.0
numpy==1.21.0
openpyxl==3.0.7
pandas==1.3.0
pathspec==0.5.9
platformdirs==2.4.0
pypiwin32==223
python-dateutil==2.8.2
pytz==2021.1
pywin32==301
PyYAML==5.4.1
requests==2.26.0
semantic-version==2.8.5
six==1.14.0
termcolor==1.1.0
typing-extensions==3.10.0.2
urllib3==1.26.6
virtualenv==20.9.0
wcwidth==0.1.9
xlrd==1.2.0
zipp==3.6.0
