.background {
  height: 200vh;
  width: 100%;
}

.login {
  max-width: 71rem;
  margin: 0 auto;
  padding-top: 3.75rem;
}

.login__bg {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 0% 50%,
      rgba(255, 255, 255, 0.9) 50%,
      rgba(255, 255, 255, 0.9) 100%
    ),
    url(../images/login.jfif);
  background-size: cover;
  /* background-position: ; */
  width: 100%;
  position: relative;
  border-radius: 3px;
  box-shadow: 0 0.93rem 2.5rem rgba(0, 0, 0, 0.2);

  height: 32rem;
}

.login__form {
  width: 50%;
  padding: 1.25rem;
  position: absolute;
  left: 50%;
}

.celebal_logo {
  width: 50%;
  display: inline-block;
  margin-bottom: 3.125rem;
}

.form__group:not(:last-child) {
  margin-bottom: 2.5rem;
}

.form__input {
  font-size: 0.93rem;
  color: inherit;
  padding: 0.93rem 1.25rem;
  background-color: rgba(255, 255, 255, 0.5);
  width: 85%;
  border: none;
  border-radius: 2px;
  border-bottom: 3px solid transparent;
  display: block;
}

.form__input:focus {
  outline: none;
  border-bottom: 3px solid #006575;
  box-shadow: 0 0.625rem 1.25rem rgba(0, 0, 0, 0.1);
}

.form__input:focus:invalid {
  border-bottom: 3px solid tomato;
}

.form__input::-webkit-input-placeholder {
  color: #999;
}

.form__label {
  font-size: 0.75rem;
  font-weight: 700;
  margin-top: 7px;
  text-align: left;
  margin-left: 1.25rem;
  display: block;
  font-family: inherit;
  transition: all 0.2s;
  color: #777;
}

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-2.5rem);
}

.form__last-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__btn {
  color: #fff;
  background-color: #006575;
  cursor: pointer;
  padding: 0.93rem 2.5rem;
  display: inline-block;
  border-radius: 10rem;
  text-transform: uppercase;
  font-size: var(--default-font-size);
  border: none;
  margin-top: -1.5rem;
}

.form__btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 5px 1.25rem rgba(0, 0, 0, 0.2);
}

.form__option {
  font-size: 0.8rem;
  font-weight: 700;
  color: black;
  padding: 2px;
}

.form__link {
  cursor: pointer;
  margin: 2px;
  border: none;
  background-color: transparent;
}
.sign_up_for_microsoft {
  width: 50%;
}

@media (max-width: 75em) {
  .background {
    width: 100%;
  }

  .login {
    padding-top: 1.5rem;
  }
}

@media (max-width: 56.25em) {
  .login {
    max-width: 40rem;
    padding-top: 5rem;
  }

  .login__bg {
    background-image: url(../images/login.jfif);
    background-size: cover;
    background-position: left;
  }

  .login__form {
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
    left: -1rem;
    top: 100%;
  }

  .form__input {
    width: 90%;
  }
}

@media (max-width: 37.5em) {
  .form__input {
    width: 85%;
  }
}

/* https://login.microsoftonline.com/e4e34038-ea1f-4882-b6e8-ccd776459ca0/oauth2/v2.0/authorize?client_id=538c66c5-3b59-4d43-bd4e-4524331189a1&scope=User.Read%20openid%20profile%20offline_access&redirect_uri=http%3A%2F%2Flocalhost%3A3000&client-request-id=1b97714f-5dba-495f-949c-404159b7e5bf&response_mode=fragment&response_type=code&x-client-SKU=msal.js.browser&x-client-VER=2.18.0&x-client-OS=&x-client-CPU=&client_info=1&code_challenge=u4q4vHRwQqS7QD7HfAGvsJ1zW6mBC-XrhEjjhX0ok8Y&code_challenge_method=S256&nonce=c606da53-b55e-4a4c-861f-4c6ec7950646&state=eyJpZCI6IjFmY2IzMWJhLTY5NmItNGMzYS04NmNjLTM2ZWU5N2FmMjk2NSIsIm1ldGEiOnsiaW50ZXJhY3Rpb25UeXBlIjoicG9wdXAifX0%3D */
